.container {
  max-width: 600px;
  margin: 40px auto;
  border: 1px solid grey;
  box-shadow: 5px 4px 8px 0px grey;
  padding: 20px;
  text-align: center;
}

@media(max-width: 768px) {
  .container {
    margin: 40px;
  }
}
